<a href="https://colab.research.google.com/github/Baji-NRI/Basics-of-Python/blob/main/BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Python - File extension is .py

Released in 1991

Creator - Van Rossum

Based on Interpreter - LTR ~ TTB

Use Cases : 1. Web Dev - Django 2. Backend Dev 3. M L 4. AI & DS 5. DSA

Real time Activities :

Software Dev Server - Database Math Ops Scripting Prototyping

Python - D&C - Divide and Conquer

Problem A -> A1, A2, A3, A4 Solution -> SA1, SA2, SA3, SA4

Final Solution = SA1 + SA2 + SA3 + SA4 = S

Problem
 Build a ChatBot that can answer or reply the user with his Query/ Question.

Solution

Step 1 : Arrange API or SDK for AI / Model Responses
Step 2 : Get API Key for the API from Step 1
Step 3 : Create functions that can send and get responses from and to the API from user
Step 4 : 4.1 CLI - Command Line Interface 4.1 GUI - Graphical USer Interface
Step 5 : Create 2 user chat area
Stpe 6 : (Optional) Integrate a Database with your Chatbot

After Solution :
   1.Push the project into Github
   2.Create a post with the Chatbot screenrecorded into LinkedIn

In [ ]:
#Introduction to Python
Data -
StudentName - ABCD DOB - 2004
PC - variables
Variable Name -
    1. Must not start with Numbers or special chars
    2. No whitespaces in variable name
    3.3.1 : Camel Case - rollNumber, studentName
    3.2 Pascal Case - RollNumber, StudentName
    3.3 Snake case - roll_number, student_name
    4. Case sensitive
       num1 = 10 - small Alp - lower case Num1 = 10 - Cap alp - upper case

In [ ]:
Data type:
Text data - str - Strings - " " / ''

In [ ]:
StudentName="varun's dog is playing"

In [ ]:
print(StudentName)

varun's dog is playing

In [ ]:
type(StudentName)

str

In [ ]:
2. int - Integer - Numerical value without decimals or fractions- Z

In [ ]:
 rollNumber = 10

In [ ]:
print(rollNumber)

10

In [ ]:
type(rollNumber)

int

In [ ]:
3.float-float-decimal values
Ex:-10.5,12,9,5.5,....

In [ ]:
cgpa=9.8

In [ ]:
print(cgpa)

9.8

In [ ]:
type(cgpa)

float

In [ ]:
4. bool - Boolean - True / False
Ex - isTopper - False
isMarried - False

In [ ]:
ismarried=False

In [ ]:
print(ismarried)

False

In [ ]:
type(ismarried)

bool

In [ ]:
5.none-none

In [ ]:
datafromnetwork=None

In [ ]:
None

In [ ]:
type(datafromnetwork)

NoneType

Numericals
* int and float

Operators

* Mathematical operator

+ - * / % ** ^ //

*Comparisional operators
> < >= <= == !=. --> boolean